.container{
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 15dvh, 10rem) clamp(1rem, 10vw, 10rem);
    width: 100%;
    margin-bottom: 2rem;
}

.container .games-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.games-container ul.games{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(2rem, 2vw, 5rem);
    padding: 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    justify-items: center;
}
            
ul.games li.game-card{
    list-style: none;
    background-color: var(--element-color);
    border-radius: 1rem;
    width: 20vw;
    aspect-ratio: 2/3;
    padding: clamp(1.5rem, 2vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    position: relative;
    box-shadow: 0 0 20px 5px var(--secondary-element-color);
}

ul.games li.game-card span.spots-left{
    display: block;
    position: absolute;
    top: clamp(1.5rem, 2vw, 2rem);
    right: clamp(1.5rem, 2vw, 2rem);
    translate: 10% -20%;
    width: 40%;
    padding: 0.5rem;
    white-space: wrap;
    text-align: center;
    font-size: clamp(8px, 1vw, 16px);
    font-weight: 650;
    background: var(--secondary-element-color);
    border-radius: 0.5rem;
}

ul.games li.game-card img.logo{
    width: 100%;
    aspect-ratio: 16/9;
}

ul.games li.game-card .game-details{
    margin-top: 0.5rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.game-details h2.title{
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 2.25rem);
    margin-bottom: 0.5vw;
}
    
.game-details p.categories{
    font-size: clamp(12px, 1.3vw, 22px);
    opacity: 0.7;
}
    
.game-details label.players-info{
    margin-top: auto;
    margin-bottom: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-details label.players-info span{
    font-size: clamp(12px, 1.3vw, 22px);
    position: relative;
}
    
.game-details label.players-info span::before{
    content: "";
    position: relative;
    margin-right: 8px;
    height: 1.3em;
    aspect-ratio: 1/1;
    translate: 0 25%;
    background-color: var(--primary-text-color);
    -webkit-mask-image: url("../assets/icons/person.svg");
    mask-image: url("../assets/icons/person.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    display: inline-block;
}
    
.game-details .option-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
    
.game-details .option-buttons a{
    width: 100%;
    font-size: clamp(14px, 1.5vw, 24px);
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    color: var(--primary-text-color);
    background-clip: padding-box;
    background-color: var(--element-color);
    text-decoration: none;
    z-index: 1;
}

.game-details .option-buttons a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    height: 100%;
    translate: -50% -50%;
    background: linear-gradient(25deg, var(--primary-color) -10%, var(--secondary-color) 100%);
    border-radius: 0.5rem;
    padding: 2px;
    z-index: -2;
}

.game-details .option-buttons a::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    height: 100%;
    translate: -50% -50%;
    background: linear-gradient(25deg, var(--primary-color) 30%, var(--secondary-color) 130%);
    border-radius: 0.5rem;
    padding: 2px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

.game-details .option-buttons a:hover::after{
    opacity: 1;
}

.game-details .option-buttons .join-game{
    flex: 1;
}

.game-details .option-buttons .view-rules{
    flex: 2;
}

li.game-card.full{
    background-color: #64282f !important;
    box-shadow: 0 0 20px 5px #782a31 !important;
}

li.game-card.full span.spots-left{
    background-color: #9b1a25 !important;
    border: 1px solid red !important;
}

li.game-card.full .game-details a{
    background-color: #9b1a25 !important;
    border: 1px solid red !important;
}

li.game-card.full .game-details a::before, a::after{
    display: none;
}

li.game-card.full .game-details .join-game{
    display: none;
}

h1.warning{
    color: #747474;
    margin-top: 15dvh;
    margin-bottom: 30dvh;
    font-size: clamp(20px, 3vw, 35px);
    white-space: nowrap;
}


@media (max-width: 1000px){
    ul.games{
        grid-template-columns: repeat(2, 1fr) !important;
    }
        
    li.game-card:nth-child(odd){
        margin-left: auto;
        margin-right: 0px;
    }

    li.game-card:nth-child(even){
        margin-right: auto;
        margin-left: 0px;
    }

    li.game-card{
        width: 30vw !important;
    }
    
    li.game-card span.spots-left{
        font-size: clamp(10px, 1.5vw, 18px);
    }

    li.game-card .game-details h2.title{
        font-size: clamp(1rem, 3vw, 1.75rem);
    }

    li.game-card .game-details p.categories{
        font-size: clamp(14px, 1.8vw, 18px);
    }
    
    li.game-card .game-details label.players-info span{
        font-size: clamp(16px, 2vw, 20px);
        position: relative;
    }   

    li.game-card .game-details .option-buttons{
        flex-direction: column;
    }

    li.game-card .game-details .option-buttons a{
        font-size: clamp(16px, 1.5vw, 24px);
    }
}

@media (max-width: 700px){
    ul.games{
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center !important;
        gap: 60px !important;
    }
    
    li.game-card{
            width: 60vw !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
    }

    li.game-card span.spots-left{
        font-size: clamp(10px, 2.5vw, 18px);
    }

    li.game-card .game-details h2.title{
        font-size: clamp(18px, 6vw, 3rem);
    }
                
    li.game-card .game-details p.categories{
        font-size: clamp(16px, 3.6vw, 26px);
    }
    
    li.game-card .game-details label.players-info{
        margin-bottom: 2vw;
    }

    li.game-card .game-details label.players-info span{
        font-size: clamp(14px, 3.6vw, 26px);
        position: relative;
    }

    li.game-card .game-details .option-buttons a{
        font-size: clamp(16px, 4vw, 28px);
    }
}